<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apapacho</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    
</head>

<body>
    
    <!-- Esto es la BARRA inical -->
    
    <section>
        
        <header class="mainInicio">
            
            <!-- parteInical- (buscador y barra de menú) ancho de la pantalla-->
            
            
            <a class="contenedor mainInicio__contenedor" href="#">
                <!--logo que a la vez es un link (a)-->
                <img class="mainInicio__logo" src="/images/logo-menu.png" alt="">
            </a>
            
            <nav class="mainNav">
                <!-- barra de menu, que a su vez son links-->
                <div class="contenedor mainNav__contenedor">
                    <a href="#" class="mainNav__link">Acerca de nosotros</a>
                    <a href="/tienda" class="mainNav__link ">Tienda</a>
                    <a href="#" class="mainNav__link">Testimonios</a>
                    <a href="#" class="mainNav__link">Contáctenos</a>
                </div>
            </nav>
            
            
            <img class="burgerBtn" src="/images/burgerBtn.png" alt="">
            
            
        </header>
        
    </section>
    
    {{{ body }}}


<footer class="mainFooter">     

    <div class="mainfooter__redes">

        <a href="#">
            <img class="mainfooter__image" src="/images/face.png" alt="">

        <a href="#">    
            <img class="mainfooter__image" src="/images/insta.png" alt="">
        </a>

        <a href="#">    
            <img class="mainfooter__image" src="/images/youtube.png" alt="">
        </a>

        <a href="#">    
            <img class="mainfooter__image" src="/images/tw.png" alt="">
        </a>

        <a href="#">        
            <img class="mainfooter__image" src="/images/whapt.png" alt="">
        </a>

    </div>

        
    <div class="mainfooter__banner">

        <a href="#" class="mainfooter__link">Acerca de nosotros</a>
        <a href="#" class="mainfooter__link ">Tienda</a>
        <a href="#" class="mainfooter__link">Testimonios</a>
        <a href="#" class="mainfooter__link">Contáctenos</a>
               
    </div>

    <section> 
        <img class="mainfooter__logo" src="/images/tipography.png" alt="">
    </section>

    <div class="mainfooter__information">
        <a href="#" class="mainfooter__info">Copyright © 2020  apapacho</a>
        <a href="#" class="mainfooter__info">Reservados todos los derechos</a>
        <a href="#" class="mainfooter__info">Aviso Legal</a>
        <a href="#" class="mainfooter__info">Política de Privacidad</a>
        <a href="#" class="mainfooter__info">Política de cookies</a>
    </div>    

</footer>

</body>

</html>