<h1>
    CARRITO DE COMPRAS
</h1>
<p>
    Estos son los peluches que has añadido a tu carrito de compras
</p>
<section class="cart__table">
    <table>
        <tr>
            <th class="table__product">Producto</th>
            <th class="table__product">Precio</th>
            <th class="table__product">Cantidad</th>
            <th class="table__product">Total</th>

        </tr>
        <tr>
           
        </tr>
        <tr>
            
        </tr>
        <tr>
           
        </tr>
    </table>
  
</section>
<div class="cart__list">
hola
</div>

<div class="table">
                